# Limitations of using a basic Class in python

In [ ]:
class Employee:
  def __init__(self, id, name, dob, salary):
    self.id = id
    self.name = name
    self.dob = dob
    self.salary = salary

  def get_info(self):
    print("Employee Information")
    print(f"ID: {self.id}")
    print(f"Name: {self.name}")
    print(f"Salary: {self.salary:.2f} INR")

In [ ]:
from datetime import date

In [ ]:
date(1997, 12, 15)

datetime.date(1997, 12, 15)

In [ ]:
emp1 = Employee(101, "Utkarsh", date(1997, 12, 15),100000)

In [ ]:
emp1

In [ ]:
emp1.name

'Utkarsh'

In [ ]:
emp1.dob

datetime.date(1997, 12, 15)

In [ ]:
emp1.salary

100000

In [ ]:
emp1.get_info()

Employee Information
ID: 101
Name: Utkarsh
Salary: 100000.00 INR

In [ ]:
emp2 = Employee(
    id = "abc",
    name = 12345,
    dob = False,
    salary = -1000
)

In [ ]:
emp2

In [ ]:
type(emp2)

__main__.Employee

In [ ]:
emp2.id

'abc'

In [ ]:
emp2.name

12345

In [ ]:
emp2.dob

False

In [ ]:
emp2.salary

-1000

In [ ]:
emp3 = Employee("", "", "", "")

In [ ]:
emp3.get_info()

Employee Information
ID:
Name:

ValueError: Unknown format code 'f' for object of type 'str'

## Dataclasses to validate proper input

In [ ]:
date.today()

datetime.date(2024, 10, 14)

In [ ]:
isinstance("ABC", str)

True

In [ ]:
isinstance(23, float)

False

In [ ]:
isinstance(True, bool)

True

In [ ]:
from dataclasses import dataclass

In [ ]:
@dataclass
class Employee2:
  id: int
  name: str
  dob: date
  salary: float


  # __post_init__ function is used for validation
  def __post_init__(self):
    errors = []

    try:
      self.validate_id()
    except (TypeError, ValueError) as e:
      errors.append(str(e))

    try:
      self.validate_name()
    except (TypeError, ValueError) as e:
      errors.append(str(e))

    try:
      self.validate_dob()
    except (TypeError, ValueError) as e:
      errors.append(str(e))

    try:
      self.validate_salary()
    except (TypeError, ValueError) as e:
      errors.append(str(e))

    if errors:
       raise ValueError("\n".join(errors))

  def validate_id(self):
    if not isinstance(self.id, int):
      raise ValueError("ID must be an integer")
    if self.id <= 0:
      raise ValueError("ID must be a positive integer")

  def validate_name(self):
    if not isinstance(self.name, str):
      raise TypeError("Name must be a string")
    if len(self.name.strip()) == 0:
      raise ValueError("Name cannot be empty")

  def validate_dob(self):
    if not isinstance(self.dob, date):
      raise TypeError("DOB must be a date")
    if self.dob >= date.today():
      raise ValueError("DOB cannot be in the future")

  def validate_salary(self):
    if not isinstance(self.salary, float):
      raise TypeError("Salary must be a float")
    if self.salary <= 0:
      raise ValueError("Salary must be a positive float")

  def get_employee_info(self):
    print(f"ID: {self.id}")
    print(f"Name: {self.name}")
    print(f"Date of Birth: {self.dob}")
    print(f"Salary: {self.salary:.2f} INR")

In [ ]:
e1 = Employee2(
    id = 101,
    name = "Sarthak",
    dob = date(1998, 1, 13),
    salary = 25000.0
)

In [ ]:
  e1

Employee2(id=101, name='Sarthak', dob=datetime.date(1998, 1, 13), salary=25000.0)

In [ ]:
e1.id

101

In [ ]:
e1.name

'Sarthak'

In [ ]:
e1.dob

datetime.date(1998, 1, 13)

In [ ]:
e1.salary

25000.0

In [ ]:
e1.get_employee_info()

ID: 101
Name: Sarthak
Date of Birth: 1998-01-13
Salary: 25000.00 INR

In [ ]:
e2 = Employee2(
    id = "abc",
    name = "Raman",
    dob = "27th Jul 2024",
    salary = 35000.5
)

ValueError: ID must be an integer
DOB must be a date

In [ ]:
e2

NameError: name 'e2' is not defined

In [ ]:
e3 = Employee2(
    id = -10,
    name = "    ",
    dob = date(2024, 12, 15),
    salary = -2000.0
)

ValueError: ID must be a positive integer
Name cannot be empty
DOB cannot be in the future
Salary must be a positive float

In [ ]:
e3

NameError: name 'e3' is not defined

### Class valadition with pydantic

In [ ]:
%pip install pydantic email-validator

Requirement already satisfied: pydantic in /usr/local/lib/python3.10/dist-packages (2.9.2)
Collecting email-validator
  Downloading email_validator-2.2.0-py3-none-any.whl.metadata (25 kB)
Requirement already satisfied: annotated-types>=0.6.0 in /usr/local/lib/python3.10/dist-packages (from pydantic) (0.7.0)
Requirement already satisfied: pydantic-core==2.23.4 in /usr/local/lib/python3.10/dist-packages (from pydantic) (2.23.4)
Requirement already satisfied: typing-extensions>=4.6.1 in /usr/local/lib/python3.10/dist-packages (from pydantic) (4.12.2)
Collecting dnspython>=2.0.0 (from email-validator)
  Downloading dnspython-2.7.0-py3-none-any.whl.metadata (5.8 kB)
Requirement already satisfied: idna>=2.0.0 in /usr/local/lib/python3.10/dist-packages (from email-validator) (3.10)
Downloading email_validator-2.2.0-py3-none-any.whl (33 kB)
Downloading dnspython-2.7.0-py3-none-any.whl (313 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 313.6/313.6 kB 24.4 MB/s eta 0:00:00
Installing collected packages: dnspython, email-validator
Successfully installed dnspython-2.7.0 email-validator-2.2.0

In [ ]:
from pydantic import BaseModel, Field, EmailStr

In [ ]:
from decimal import Decimal

In [ ]:
from datetime import date

In [ ]:
class Employee3(BaseModel):

  id: int = Field(gt=0),
  name: str = Field(min_length=3, max_length=50)
  dob: date = Field(le = date.today())  # le = less than or equal to
  salary: Decimal = Field(gt=Decimal(0.00), decimal_places=2)  # gt = greater than
  email: EmailStr

  def get_empl_info(self):
    print("Employee Information: ")
    print(f"ID: {self.id}")
    print(f"Name: {self.name}")
    print(f"Date of Birth: {self.dob}")
    print(f"Salary: {self.salary:.2f} INR")
    print(f"Email: {self.email}")

In [ ]:
e4 = Employee3(
    id = 105,
    name = "Rahul",
    dob = date(1999, 2, 1),
    salary = Decimal(10000.00),
    email = "rahul@example.com"
)

In [ ]:
e4

Employee3(id=105, name='Rahul', dob=datetime.date(1999, 2, 1), salary=Decimal('10000'), email='rahul@example.com')

In [ ]:
e4.id

105

In [ ]:
e4.name

'Rahul'

In [ ]:
e4.dob

datetime.date(1999, 2, 1)

In [ ]:
e4.salary

Decimal('10000')

In [ ]:
e4.email

'rahul@example.com'

In [ ]:
e4.get_empl_info()

Employee Information:
ID: 105
Name: Rahul
Date of Birth: 1999-02-01
Salary: 10000.00 INR
Email: rahul@example.com

In [ ]:
e5 = Employee3(
    id = "def",
    name = 12345,
    dob = "27th Jul 2024",
    salary = Decimal ("-1000.00"),
    email = "gmail"
)

ValidationError: 5 validation errors for Employee3
id
  Input should be a valid integer, unable to parse string as an integer [type=int_parsing, input_value='def', input_type=str]
    For further information visit https://errors.pydantic.dev/2.9/v/int_parsing
name
  Input should be a valid string [type=string_type, input_value=12345, input_type=int]
    For further information visit https://errors.pydantic.dev/2.9/v/string_type
dob
  Input should be a valid date or datetime, invalid character in year [type=date_from_datetime_parsing, input_value='27th Jul 2024', input_type=str]
    For further information visit https://errors.pydantic.dev/2.9/v/date_from_datetime_parsing
salary
  Input should be greater than 0 [type=greater_than, input_value=Decimal('-1000.00'), input_type=Decimal]
    For further information visit https://errors.pydantic.dev/2.9/v/greater_than
email
  value is not a valid email address: An email address must have an @-sign. [type=value_error, input_value='gmail', input_type=str]