# API - RAPID API

Alpha Vantage - for collecting the stock data

# Load the API Key

## Make sure you create a .env file with below content
~~~ 
API_KEY = "<YOUR RAPID API KEY HERE>"
~~~

In [3]:
from dotenv import load_dotenv
load_dotenv()

True

In [6]:
import os
api_key = os.getenv("API_KEY")

In [7]:
import requests

In [8]:
def get_symbol(company):
    url = "https://alpha-vantage.p.rapidapi.com/query"

    querystring = {"datatype":"json","keywords":company,"function":"SYMBOL_SEARCH"}

    headers = {
	    "x-rapidapi-key": api_key,
	    "x-rapidapi-host": "alpha-vantage.p.rapidapi.com"
    }

    response = requests.get(url, headers=headers, params=querystring)

    return response.json()

In [9]:
get_symbol("State Bank of India")

{'bestMatches': [{'1. symbol': 'SBIN.BSE',
   '2. name': 'State Bank of India',
   '3. type': 'Equity',
   '4. region': 'India/Bombay',
   '5. marketOpen': '09:15',
   '6. marketClose': '15:30',
   '7. timezone': 'UTC+5.5',
   '8. currency': 'INR',
   '9. matchScore': '1.0000'},
  {'1. symbol': 'SBKFF',
   '2. name': 'State Bank of India',
   '3. type': 'Equity',
   '4. region': 'United States',
   '5. marketOpen': '09:30',
   '6. marketClose': '16:00',
   '7. timezone': 'UTC-04',
   '8. currency': 'USD',
   '9. matchScore': '1.0000'},
  {'1. symbol': 'SID.FRK',
   '2. name': 'State Bank of India',
   '3. type': 'Equity',
   '4. region': 'Frankfurt',
   '5. marketOpen': '08:00',
   '6. marketClose': '20:00',
   '7. timezone': 'UTC+02',
   '8. currency': 'EUR',
   '9. matchScore': '1.0000'},
  {'1. symbol': 'SBID.LON',
   '2. name': 'State Bank of India GDR',
   '3. type': 'Equity',
   '4. region': 'United Kingdom',
   '5. marketOpen': '08:00',
   '6. marketClose': '16:30',
   '7. timezone': 'UTC+01',
   '8. currency': 'USD',
   '9. matchScore': '0.9048'}]}

## Get daily data

In [10]:
def get_stock_data(symbol):

    url = "https://alpha-vantage.p.rapidapi.com/query"

    querystring = {"function":"TIME_SERIES_DAILY","symbol":symbol,"outputsize":"compact","datatype":"json"}

    headers = {
        "x-rapidapi-key": api_key,
        "x-rapidapi-host": "alpha-vantage.p.rapidapi.com"
    }

    response = requests.get(url, headers=headers, params=querystring)

    return response.json()

In [11]:
data = get_stock_data("SBIN.BSE")
data

{'Meta Data': {'1. Information': 'Daily Prices (open, high, low, close) and Volumes',
  '2. Symbol': 'SBIN.BSE',
  '3. Last Refreshed': '2024-10-11',
  '4. Output Size': 'Compact',
  '5. Time Zone': 'US/Eastern'},
 'Time Series (Daily)': {'2024-10-11': {'1. open': '797.0000',
   '2. high': '802.5000',
   '3. low': '793.0000',
   '4. close': '800.0000',
   '5. volume': '381115'},
  '2024-10-10': {'1. open': '799.9000',
   '2. high': '804.3500',
   '3. low': '795.0500',
   '4. close': '796.9500',
   '5. volume': '163966'},
  '2024-10-09': {'1. open': '787.9500',
   '2. high': '805.0000',
   '3. low': '782.5500',
   '4. close': '797.0000',
   '5. volume': '807499'},
  '2024-10-08': {'1. open': '771.1000',
   '2. high': '784.5000',
   '3. low': '771.1000',
   '4. close': '782.0500',
   '5. volume': '295906'},
  '2024-10-07': {'1. open': '797.0500',
   '2. high': '803.9000',
   '3. low': '765.5500',
   '4. close': '769.8000',
   '5. volume': '1587972'},
  '2024-10-04': {'1. open': '790.3000',
   '2. high': '809.6500',
   '3. low': '785.2000',
   '4. close': '796.6000',
   '5. volume': '1154183'},
  '2024-10-03': {'1. open': '787.4000',
   '2. high': '803.9500',
   '3. low': '784.3500',
   '4. close': '794.3500',
   '5. volume': '768391'},
  '2024-10-01': {'1. open': '788.9500',
   '2. high': '799.7500',
   '3. low': '788.2500',
   '4. close': '797.0000',
   '5. volume': '227883'},
  '2024-09-30': {'1. open': '801.1500',
   '2. high': '802.5000',
   '3. low': '786.1500',
   '4. close': '787.6000',
   '5. volume': '1054719'},
  '2024-09-27': {'1. open': '802.0000',
   '2. high': '807.8500',
   '3. low': '798.4000',
   '4. close': '802.6500',
   '5. volume': '669965'},
  '2024-09-26': {'1. open': '795.1500',
   '2. high': '803.0000',
   '3. low': '791.5500',
   '4. close': '801.9000',
   '5. volume': '432917'},
  '2024-09-25': {'1. open': '798.2500',
   '2. high': '798.2500',
   '3. low': '788.6500',
   '4. close': '792.9500',
   '5. volume': '524539'},
  '2024-09-24': {'1. open': '800.0000',
   '2. high': '804.1000',
   '3. low': '796.6500',
   '4. close': '798.3500',
   '5. volume': '427650'},
  '2024-09-23': {'1. open': '785.0500',
   '2. high': '804.9000',
   '3. low': '785.0000',
   '4. close': '801.8000',
   '5. volume': '1415077'},
  '2024-09-20': {'1. open': '794.0500',
   '2. high': '794.4000',
   '3. low': '779.5000',
   '4. close': '781.9000',
   '5. volume': '1481791'},
  '2024-09-19': {'1. open': '794.1500',
   '2. high': '801.2500',
   '3. low': '784.1000',
   '4. close': '790.3500',
   '5. volume': '402071'},
  '2024-09-18': {'1. open': '783.5500',
   '2. high': '794.5000',
   '3. low': '781.3000',
   '4. close': '792.3500',
   '5. volume': '681430'},
  '2024-09-17': {'1. open': '786.0000',
   '2. high': '787.5000',
   '3. low': '780.6500',
   '4. close': '783.0500',
   '5. volume': '240500'},
  '2024-09-16': {'1. open': '793.4500',
   '2. high': '795.3000',
   '3. low': '784.1000',
   '4. close': '785.4500',
   '5. volume': '624666'},
  '2024-09-13': {'1. open': '790.8500',
   '2. high': '795.0000',
   '3. low': '784.8500',
   '4. close': '790.5500',
   '5. volume': '1064575'},
  '2024-09-12': {'1. open': '775.0000',
   '2. high': '789.7000',
   '3. low': '772.9000',
   '4. close': '788.0500',
   '5. volume': '312891'},
  '2024-09-11': {'1. open': '781.6500',
   '2. high': '788.0000',
   '3. low': '765.6500',
   '4. close': '768.3000',
   '5. volume': '521913'},
  '2024-09-10': {'1. open': '788.6500',
   '2. high': '788.9500',
   '3. low': '777.6500',
   '4. close': '782.6000',
   '5. volume': '582017'},
  '2024-09-09': {'1. open': '785.0000',
   '2. high': '788.0500',
   '3. low': '771.3000',
   '4. close': '784.3000',
   '5. volume': '1433332'},
  '2024-09-06': {'1. open': '813.9000',
   '2. high': '813.9000',
   '3. low': '777.0500',
   '4. close': '782.6000',
   '5. volume': '2498701'},
  '2024-09-05': {'1. open': '818.0000',
   '2. high': '821.9000',
   '3. low': '814.3000',
   '4. close': '818.6000',
   '5. volume': '318031'},
  '2024-09-04': {'1. open': '813.0000',
   '2. high': '818.6500',
   '3. low': '813.0000',
   '4. close': '816.5000',
   '5. volume': '278846'},
  '2024-09-03': {'1. open': '821.2000',
   '2. high': '825.9000',
   '3. low': '816.7500',
   '4. close': '824.7500',
   '5. volume': '293326'},
  '2024-09-02': {'1. open': '816.4500',
   '2. high': '825.3000',
   '3. low': '813.0000',
   '4. close': '822.1000',
   '5. volume': '1129356'},
  '2024-08-30': {'1. open': '818.4500',
   '2. high': '820.3500',
   '3. low': '814.3000',
   '4. close': '815.6500',
   '5. volume': '598533'},
  '2024-08-29': {'1. open': '809.3500',
   '2. high': '815.9500',
   '3. low': '807.3000',
   '4. close': '814.5000',
   '5. volume': '271349'},
  '2024-08-28': {'1. open': '813.8000',
   '2. high': '817.1000',
   '3. low': '806.9000',
   '4. close': '809.3000',
   '5. volume': '196716'},
  '2024-08-27': {'1. open': '816.8500',
   '2. high': '819.3000',
   '3. low': '811.0500',
   '4. close': '815.1500',
   '5. volume': '464853'},
  '2024-08-26': {'1. open': '819.3500',
   '2. high': '823.3500',
   '3. low': '814.2000',
   '4. close': '815.3500',
   '5. volume': '1278721'},
  '2024-08-23': {'1. open': '821.0500',
   '2. high': '821.7000',
   '3. low': '814.2000',
   '4. close': '815.2500',
   '5. volume': '560060'},
  '2024-08-22': {'1. open': '819.8500',
   '2. high': '823.7000',
   '3. low': '817.4000',
   '4. close': '820.1500',
   '5. volume': '494896'},
  '2024-08-21': {'1. open': '820.0000',
   '2. high': '821.0000',
   '3. low': '811.4000',
   '4. close': '815.8000',
   '5. volume': '248423'},
  '2024-08-20': {'1. open': '818.7500',
   '2. high': '822.9000',
   '3. low': '813.2000',
   '4. close': '820.0000',
   '5. volume': '308095'},
  '2024-08-19': {'1. open': '814.0500',
   '2. high': '825.0000',
   '3. low': '812.3500',
   '4. close': '813.6500',
   '5. volume': '743917'},
  '2024-08-16': {'1. open': '803.5000',
   '2. high': '815.1000',
   '3. low': '803.2000',
   '4. close': '812.4500',
   '5. volume': '768630'},
  '2024-08-14': {'1. open': '800.7000',
   '2. high': '809.0000',
   '3. low': '800.4000',
   '4. close': '802.9500',
   '5. volume': '287718'},
  '2024-08-13': {'1. open': '813.1000',
   '2. high': '819.4000',
   '3. low': '795.1000',
   '4. close': '797.3000',
   '5. volume': '641102'},
  '2024-08-12': {'1. open': '819.2000',
   '2. high': '822.6000',
   '3. low': '810.8500',
   '4. close': '813.0000',
   '5. volume': '1142861'},
  '2024-08-09': {'1. open': '816.8000',
   '2. high': '829.9000',
   '3. low': '809.8500',
   '4. close': '824.2000',
   '5. volume': '822817'},
  '2024-08-08': {'1. open': '813.8500',
   '2. high': '817.9000',
   '3. low': '803.0000',
   '4. close': '807.6500',
   '5. volume': '680135'},
  '2024-08-07': {'1. open': '811.5000',
   '2. high': '811.5000',
   '3. low': '800.3000',
   '4. close': '809.1000',
   '5. volume': '604072'},
  '2024-08-06': {'1. open': '820.6000',
   '2. high': '826.8000',
   '3. low': '795.6500',
   '4. close': '797.7500',
   '5. volume': '582520'},
  '2024-08-05': {'1. open': '827.0500',
   '2. high': '831.4000',
   '3. low': '801.0500',
   '4. close': '811.1000',
   '5. volume': '2389678'},
  '2024-08-02': {'1. open': '856.2000',
   '2. high': '859.9500',
   '3. low': '846.6000',
   '4. close': '847.9000',
   '5. volume': '1047656'},
  '2024-08-01': {'1. open': '877.9500',
   '2. high': '881.5000',
   '3. low': '861.1500',
   '4. close': '862.7500',
   '5. volume': '516927'},
  '2024-07-31': {'1. open': '874.6500',
   '2. high': '874.8000',
   '3. low': '867.7000',
   '4. close': '872.7500',
   '5. volume': '320361'},
  '2024-07-30': {'1. open': '874.9500',
   '2. high': '880.5000',
   '3. low': '869.1000',
   '4. close': '873.0000',
   '5. volume': '510195'},
  '2024-07-29': {'1. open': '866.9500',
   '2. high': '889.0000',
   '3. low': '863.1000',
   '4. close': '872.0000',
   '5. volume': '2248880'},
  '2024-07-26': {'1. open': '847.9500',
   '2. high': '864.6000',
   '3. low': '844.4500',
   '4. close': '862.9500',
   '5. volume': '614705'},
  '2024-07-25': {'1. open': '848.9000',
   '2. high': '850.8500',
   '3. low': '841.1000',
   '4. close': '848.3000',
   '5. volume': '490585'},
  '2024-07-24': {'1. open': '864.1500',
   '2. high': '868.1000',
   '3. low': '847.3500',
   '4. close': '852.2500',
   '5. volume': '625866'},
  '2024-07-23': {'1. open': '881.3500',
   '2. high': '884.4000',
   '3. low': '849.1000',
   '4. close': '863.9000',
   '5. volume': '958750'},
  '2024-07-22': {'1. open': '876.3500',
   '2. high': '895.3000',
   '3. low': '873.0000',
   '4. close': '878.3500',
   '5. volume': '1401888'},
  '2024-07-19': {'1. open': '896.3500',
   '2. high': '898.8000',
   '3. low': '883.0500',
   '4. close': '889.2000',
   '5. volume': '709711'},
  '2024-07-18': {'1. open': '880.7000',
   '2. high': '894.7500',
   '3. low': '877.1000',
   '4. close': '893.4000',
   '5. volume': '1064600'},
  '2024-07-16': {'1. open': '882.2000',
   '2. high': '888.0000',
   '3. low': '874.5500',
   '4. close': '880.8500',
   '5. volume': '600861'},
  '2024-07-15': {'1. open': '860.0000',
   '2. high': '886.9000',
   '3. low': '860.0000',
   '4. close': '881.6000',
   '5. volume': '1981455'},
  '2024-07-12': {'1. open': '856.7000',
   '2. high': '863.4000',
   '3. low': '855.5000',
   '4. close': '859.6500',
   '5. volume': '905757'},
  '2024-07-11': {'1. open': '854.7000',
   '2. high': '858.0000',
   '3. low': '849.5500',
   '4. close': '856.5500',
   '5. volume': '481214'},
  '2024-07-10': {'1. open': '861.0000',
   '2. high': '861.0000',
   '3. low': '843.3000',
   '4. close': '849.1000',
   '5. volume': '479702'},
  '2024-07-09': {'1. open': '860.0000',
   '2. high': '869.9000',
   '3. low': '855.8500',
   '4. close': '860.9500',
   '5. volume': '758991'},
  '2024-07-08': {'1. open': '859.5000',
   '2. high': '864.8000',
   '3. low': '852.9000',
   '4. close': '856.2500',
   '5. volume': '1108215'},
  '2024-07-05': {'1. open': '838.7000',
   '2. high': '861.5500',
   '3. low': '837.6500',
   '4. close': '860.0500',
   '5. volume': '1499246'},
  '2024-07-04': {'1. open': '844.6000',
   '2. high': '844.6000',
   '3. low': '834.5000',
   '4. close': '839.2500',
   '5. volume': '674690'},
  '2024-07-03': {'1. open': '829.7000',
   '2. high': '843.8000',
   '3. low': '825.0500',
   '4. close': '840.1000',
   '5. volume': '1672011'},
  '2024-07-02': {'1. open': '844.8500',
   '2. high': '846.4500',
   '3. low': '822.8500',
   '4. close': '826.3500',
   '5. volume': '1099939'},
  '2024-07-01': {'1. open': '850.0000',
   '2. high': '850.5500',
   '3. low': '839.9500',
   '4. close': '842.1000',
   '5. volume': '1084488'},
  '2024-06-28': {'1. open': '847.5000',
   '2. high': '863.7500',
   '3. low': '844.1500',
   '4. close': '848.8500',
   '5. volume': '1916294'},
  '2024-06-27': {'1. open': '845.0500',
   '2. high': '847.4000',
   '3. low': '838.4000',
   '4. close': '844.1500',
   '5. volume': '473372'},
  '2024-06-26': {'1. open': '841.8000',
   '2. high': '848.6000',
   '3. low': '836.0000',
   '4. close': '845.0500',
   '5. volume': '543783'},
  '2024-06-25': {'1. open': '838.6500',
   '2. high': '845.7500',
   '3. low': '834.9500',
   '4. close': '841.8500',
   '5. volume': '538485'},
  '2024-06-24': {'1. open': '832.7500',
   '2. high': '836.0500',
   '3. low': '820.8500',
   '4. close': '832.6500',
   '5. volume': '2194566'},
  '2024-06-21': {'1. open': '845.0000',
   '2. high': '848.0000',
   '3. low': '828.6500',
   '4. close': '836.4000',
   '5. volume': '1667384'},
  '2024-06-20': {'1. open': '853.9500',
   '2. high': '853.9500',
   '3. low': '842.4000',
   '4. close': '843.8000',
   '5. volume': '513158'},
  '2024-06-19': {'1. open': '846.0500',
   '2. high': '860.5000',
   '3. low': '841.0500',
   '4. close': '852.6000',
   '5. volume': '1066899'},
  '2024-06-18': {'1. open': '843.2000',
   '2. high': '851.5000',
   '3. low': '840.3500',
   '4. close': '844.6000',
   '5. volume': '963912'},
  '2024-06-14': {'1. open': '844.0000',
   '2. high': '849.7500',
   '3. low': '835.9000',
   '4. close': '840.2000',
   '5. volume': '1706369'},
  '2024-06-13': {'1. open': '845.0000',
   '2. high': '845.7500',
   '3. low': '836.0000',
   '4. close': '843.9000',
   '5. volume': '815906'},
  '2024-06-12': {'1. open': '837.7000',
   '2. high': '845.2500',
   '3. low': '833.0000',
   '4. close': '839.1500',
   '5. volume': '610408'},
  '2024-06-11': {'1. open': '836.7500',
   '2. high': '839.4500',
   '3. low': '829.1000',
   '4. close': '835.2500',
   '5. volume': '890869'},
  '2024-06-10': {'1. open': '834.9000',
   '2. high': '846.0000',
   '3. low': '829.0000',
   '4. close': '832.1500',
   '5. volume': '1655324'},
  '2024-06-07': {'1. open': '820.5000',
   '2. high': '831.0000',
   '3. low': '810.3000',
   '4. close': '829.9000',
   '5. volume': '2139387'},
  '2024-06-06': {'1. open': '802.7500',
   '2. high': '833.1000',
   '3. low': '795.7000',
   '4. close': '816.9500',
   '5. volume': '1355824'},
  '2024-06-05': {'1. open': '793.9500',
   '2. high': '793.9500',
   '3. low': '744.1000',
   '4. close': '789.6500',
   '5. volume': '3953125'},
  '2024-06-04': {'1. open': '905.8000',
   '2. high': '905.8000',
   '3. low': '734.2500',
   '4. close': '775.2000',
   '5. volume': '7900395'},
  '2024-06-03': {'1. open': '867.9500',
   '2. high': '912.1000',
   '3. low': '856.8500',
   '4. close': '905.8000',
   '5. volume': '3819398'},
  '2024-05-31': {'1. open': '831.8000',
   '2. high': '834.4500',
   '3. low': '817.1000',
   '4. close': '830.1000',
   '5. volume': '1053768'},
  '2024-05-30': {'1. open': '822.9500',
   '2. high': '836.0000',
   '3. low': '820.4000',
   '4. close': '826.0500',
   '5. volume': '742252'},
  '2024-05-29': {'1. open': '830.8500',
   '2. high': '834.4500',
   '3. low': '819.5500',
   '4. close': '822.9500',
   '5. volume': '2180643'},
  '2024-05-28': {'1. open': '836.8000',
   '2. high': '840.4500',
   '3. low': '823.6500',
   '4. close': '830.9000',
   '5. volume': '445715'},
  '2024-05-27': {'1. open': '833.5000',
   '2. high': '839.4000',
   '3. low': '823.0000',
   '4. close': '834.1000',
   '5. volume': '1143699'},
  '2024-05-24': {'1. open': '830.9500',
   '2. high': '841.0000',
   '3. low': '826.8500',
   '4. close': '828.6000',
   '5. volume': '979447'},
  '2024-05-23': {'1. open': '825.0000',
   '2. high': '835.4000',
   '3. low': '822.1000',
   '4. close': '832.3500',
   '5. volume': '856598'},
  '2024-05-22': {'1. open': '827.8500',
   '2. high': '827.8500',
   '3. low': '813.6000',
   '4. close': '819.3000',
   '5. volume': '594888'},
  '2024-05-21': {'1. open': '824.8500',
   '2. high': '836.2000',
   '3. low': '819.5500',
   '4. close': '830.5500',
   '5. volume': '369412'}}}

In [14]:
import pandas as pd
df = pd.DataFrame(data ['Time Series (Daily)']).T
df

             1. open   2. high    3. low  4. close 5. volume
2024-10-11  797.0000  802.5000  793.0000  800.0000    381115
2024-10-10  799.9000  804.3500  795.0500  796.9500    163966
2024-10-09  787.9500  805.0000  782.5500  797.0000    807499
2024-10-08  771.1000  784.5000  771.1000  782.0500    295906
2024-10-07  797.0500  803.9000  765.5500  769.8000   1587972
...              ...       ...       ...       ...       ...
2024-05-27  833.5000  839.4000  823.0000  834.1000   1143699
2024-05-24  830.9500  841.0000  826.8500  828.6000    979447
2024-05-23  825.0000  835.4000  822.1000  832.3500    856598
2024-05-22  827.8500  827.8500  813.6000  819.3000    594888
2024-05-21  824.8500  836.2000  819.5500  830.5500    369412

[100 rows x 5 columns]

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 100 entries, 2024-10-11 to 2024-05-21
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   1. open    100 non-null    object
 1   2. high    100 non-null    object
 2   3. low     100 non-null    object
 3   4. close   100 non-null    object
 4   5. volume  100 non-null    object
dtypes: object(5)
memory usage: 4.7+ KB

In [17]:
df.index

Index(['2024-10-11', '2024-10-10', '2024-10-09', '2024-10-08', '2024-10-07',
       '2024-10-04', '2024-10-03', '2024-10-01', '2024-09-30', '2024-09-27',
       '2024-09-26', '2024-09-25', '2024-09-24', '2024-09-23', '2024-09-20',
       '2024-09-19', '2024-09-18', '2024-09-17', '2024-09-16', '2024-09-13',
       '2024-09-12', '2024-09-11', '2024-09-10', '2024-09-09', '2024-09-06',
       '2024-09-05', '2024-09-04', '2024-09-03', '2024-09-02', '2024-08-30',
       '2024-08-29', '2024-08-28', '2024-08-27', '2024-08-26', '2024-08-23',
       '2024-08-22', '2024-08-21', '2024-08-20', '2024-08-19', '2024-08-16',
       '2024-08-14', '2024-08-13', '2024-08-12', '2024-08-09', '2024-08-08',
       '2024-08-07', '2024-08-06', '2024-08-05', '2024-08-02', '2024-08-01',
       '2024-07-31', '2024-07-30', '2024-07-29', '2024-07-26', '2024-07-25',
       '2024-07-24', '2024-07-23', '2024-07-22', '2024-07-19', '2024-07-18',
       '2024-07-16', '2024-07-15', '2024-07-12', '2024-07-11', '2024-07-10',
       '2024-07-09', '2024-07-08', '2024-07-05', '2024-07-04', '2024-07-03',
       '2024-07-02', '2024-07-01', '2024-06-28', '2024-06-27', '2024-06-26',
       '2024-06-25', '2024-06-24', '2024-06-21', '2024-06-20', '2024-06-19',
       '2024-06-18', '2024-06-14', '2024-06-13', '2024-06-12', '2024-06-11',
       '2024-06-10', '2024-06-07', '2024-06-06', '2024-06-05', '2024-06-04',
       '2024-06-03', '2024-05-31', '2024-05-30', '2024-05-29', '2024-05-28',
       '2024-05-27', '2024-05-24', '2024-05-23', '2024-05-22', '2024-05-21'],
      dtype='object')

In [21]:
df.index = pd.to_datetime(df.index)
df.index

DatetimeIndex(['2024-10-11', '2024-10-10', '2024-10-09', '2024-10-08',
               '2024-10-07', '2024-10-04', '2024-10-03', '2024-10-01',
               '2024-09-30', '2024-09-27', '2024-09-26', '2024-09-25',
               '2024-09-24', '2024-09-23', '2024-09-20', '2024-09-19',
               '2024-09-18', '2024-09-17', '2024-09-16', '2024-09-13',
               '2024-09-12', '2024-09-11', '2024-09-10', '2024-09-09',
               '2024-09-06', '2024-09-05', '2024-09-04', '2024-09-03',
               '2024-09-02', '2024-08-30', '2024-08-29', '2024-08-28',
               '2024-08-27', '2024-08-26', '2024-08-23', '2024-08-22',
               '2024-08-21', '2024-08-20', '2024-08-19', '2024-08-16',
               '2024-08-14', '2024-08-13', '2024-08-12', '2024-08-09',
               '2024-08-08', '2024-08-07', '2024-08-06', '2024-08-05',
               '2024-08-02', '2024-08-01', '2024-07-31', '2024-07-30',
               '2024-07-29', '2024-07-26', '2024-07-25', '2024-07-24',
               '2024-07-23', '2024-07-22', '2024-07-19', '2024-07-18',
               '2024-07-16', '2024-07-15', '2024-07-12', '2024-07-11',
               '2024-07-10', '2024-07-09', '2024-07-08', '2024-07-05',
               '2024-07-04', '2024-07-03', '2024-07-02', '2024-07-01',
               '2024-06-28', '2024-06-27', '2024-06-26', '2024-06-25',
               '2024-06-24', '2024-06-21', '2024-06-20', '2024-06-19',
               '2024-06-18', '2024-06-14', '2024-06-13', '2024-06-12',
               '2024-06-11', '2024-06-10', '2024-06-07', '2024-06-06',
               '2024-06-05', '2024-06-04', '2024-06-03', '2024-05-31',
               '2024-05-30', '2024-05-29', '2024-05-28', '2024-05-27',
               '2024-05-24', '2024-05-23', '2024-05-22', '2024-05-21'],
              dtype='datetime64[ns]', freq=None)